* {
    box-sizing: border-box;
}

.first_side{
    background-color: #34495e;
    height: 100vh;
}


.second_side{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/cup.jpg");
    height: 100vh;
    color: #ffffff;
}

input {
    background-color: #ffffff;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
}

h3 {
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
}

.adjust {
    margin: 150px 100px;
}

.adjust_1 {
    margin: 150px 100px;
}

.adjust_2 {
    margin: 100px 100px;
}

.heading {
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
}

.first_text {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.second_text {
    font-weight: 400;
    font-size: 16px;
    color: #bdc3c7;
}

input[type=text] {
    background-color: #ffffff;
    color: #000000;
}

input[type=email] {
    background-color: #ffffff;
    color: #000000;
}

input[type=password] {
    background-color: #ffffff;
    color: #000000;
}

::-webkit-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
:-moz-placeholder { /* older Firefox*/
    font-size:14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}
:-ms-input-placeholder {
    font-size: 14px;
    color: #d0cdfa;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.foo {
    box-sizing: border-box;
    padding-left: 20px;
}